Add support for other URI schemes

The application supports the following schemes:
- http
- https
- ftp

It should support all schemes.

[Section 3.1 of RFC 3986](https://www.rfc-editor.org/rfc/rfc3986#section-3.1) defines the syntax of a URI scheme name.

Schemes are registered in https://www.iana.org/assignments/uri-schemes/uri-schemes.xhtml